<nav class="fixed top-0 left-0 right-0 z-50 bg-background/80 backdrop-blur-md border-b border-border/50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-center h-20">
            <div class="hidden md:block">
                <div class="flex items-baseline space-x-15">
                    <a href="/home"
                        class="text-muted-foreground hover:text-gold transition-colors duration-150 ease-out px-2 py-2 rounded-md text-xl font-medium">Inicio</a>
                    <a href="/about"
                        class="text-muted-foreground hover:text-gold transition-colors duration-150 ease-out px-2 py-2 rounded-md text-xl font-medium">¿Quienes somos?</a>
                    <div class="flex-shrink-0">
                        <a href="/" class="text-xl font-bold text-primary">
                            <img src="Logo.png" alt="Logo" class="h-18 w-18 inline-block mr-2">
                        </a>
                    </div>
                    <a href="/services"
                        class="text-muted-foreground hover:text-gold transition-colors duration-150 ease-out px-2 py-2 rounded-md text-xl font-medium">Servicios</a>
                   <a href="/contact"
                        class="text-muted-foreground hover:text-gold transition-colors duration-150 ease-out px-2 py-2 rounded-md text-xl font-medium">Contacto</a>
                </div>
            </div>
        </div>
    </div>
</nav>